<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <title>register</title>
</head>

<body>
    {% if message %}
    <div class="alert">
        <h2>Username alredy exits</h2>
    </div>

    {% endif %}
    <div class="form">
        <h1>Sign up</h1>
        <form method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>

            <input type="submit" value="Sign Up">
        </form>
        <form method="get" action="{{ url_for('signin') }}">
            <button type="submit">Already have an account</button>
        </form>
    </div>
</body>

</html>